.header {
  margin: 0px auto 40px;
  padding-top: 45px;
  max-width: 880px;
  min-width: 320px;
  min-height: 74px;
  border-bottom: 1px solid #545454;
}

@media screen and (max-width: 880px) {
  .header {
    padding: 45px 19px 0px;
  }
}

@media screen and (max-width: 425px) {
  .header {
    min-height: 56px;
    padding: 28px 0px 0px 27px;
  }
}
