.profile__add-button {
  padding: 0;
  box-sizing: border-box;
  width: 150px;
  height: 50px;
  background-color: #000;
  border: 2px solid #FFF;
  border-radius: 2%;
  cursor: pointer;
  background-image: url(../../../images/profile__plus.svg);
  background-position: 50%;
  background-repeat: no-repeat;
  transition: opacity .4s;
}

.profile__add-button:hover {
  opacity: .6;
}