.profile__profile-info {
  max-width: 336px;
  min-height: 73px;
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 425px) {
  .profile__profile-info {
    align-items: center;
    max-width: 282px;
    min-height: 54px;
  }
}