.profile__avatar {
  max-width: 120px;
  width: 100%;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 30px;
}

@media screen and (max-width: 425px) {
  .profile__avatar {
    margin: 0px auto 28px;
  }
}