.header {
  margin: 0px auto 40px;
  padding-top: 45px;
  min-height: 74px;
  border-bottom: 1px solid rgba(84, 84, 84, 0.7);
}

@media screen and (max-width: 900px) {
  .header {
    padding: 45px 19px 0px;
  }
}

@media screen and (max-width: 425px) {
  .header {
    min-height: 56px;
    padding: 28px 19px 0px;
  }
}
